html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: #fff;
}

.site-wrapper {
    width: 100%;
    overflow: hidden;
}

.nav-wrap {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-tab-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fafafa;
    padding-top: 16px;
    position: relative;
    z-index: 15;
}

.nav-wrap:after {
    content: "";
    width: 100%;
    display: block;
    margin-top: -2px;
    height: 1px;
}

.nav {
    min-height: 58px;
}

.nav {
    width: 98.5%;
}


/* check */

.nav {
    padding-left: 0;
    padding-right: 0;
}

.nav {
    min-height: 85px;
}

.nav {
    min-height: 85px;
}

.nav-search-wrap {
    width: 100vw;
    max-height: 44px;
    position: relative;
    margin-bottom: 3px;
    margin-top: 1px;
    padding-right: 150px;
    padding-left: 150px;
}

.nav-logo {
    display: block;
    width: 150px;
    position: absolute;
    top: 0;
}

.nav-logo {
    margin: auto;
    margin-left: 3.5px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.nav-logo:visited {
    color: #6d59a3
}

.nav-logo-img {
    background-size: 36px 36px;
    background-image: url(../images/ddg-icon-trans.png);
}

.nav-logo-img {
    width: 36px;
    height: 36px;
}

.nav-logo-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: transparent;
    text-indent: -9999px;
    font-size: 0px;
}

.nav-search {
    position: relative;
    left: 5px;
}


/* ---------------------------------- */

.search,
.search__input,
.search__clear,
.search__button,
.search--adv,
.search__input--adv {
    font-size: 1em;
}

.search,
.search--adv {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    position: relative;
    height: 2.8em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    padding-left: .75em;
    padding-right: 6.5em;
}

.search--adv {
    padding-right: 3.5em;
}

.search--header {
    background-color: #fff;
    height: 44px;
    padding-left: 11px;
    max-width: 590px;
}

.search__input,
.search__input--adv {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 1.1em;
    font-weight: normal;
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    height: 2.545455em;
    z-index: 1;
    position: relative;
    top: -1px;
}

.search--header .search__input,
.search--header .search__input--adv {
    height: 44px;
}

header .search__input--adv {
    font-size: 16px;
}

.search__clear,
.search__button,
.search__button--hero {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'ddg-serp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 1em;
    display: block;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    height: 2.45em;
    line-height: 2.45em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    left: auto;
    margin: auto;
    z-index: 2;
    outline: none;
}

.search__clear {
    padding: 0 .5em;
    line-height: 1;
    min-width: 21px;
    margin-right: 3.6em;
    color: #aaa;
    visibility: hidden;
    opacity: 0;
}

.search--header .search__clear {
    font-size: 14.4px;
}

.search__button,
.search__button--hero {
    border-radius: 0 4px 4px 0;
    min-width: 26px;
    color: #999;
    font-size: 1.25em;
    padding: 0 .64em;
    height: auto;
    min-height: 1.8em;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -3px;
    line-height: 1.5;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-font-smoothing: subpixel-antialiased;
}

.search--header .search__button {
    font-size: 18px;
}


/* ----------------------------------------- */

.option-bar {
    padding-left: 150px;
    white-space: nowrap;
    height: 38px;
    display: flex;
}

.option-list {
    padding-left: 3px;
    white-space: nowrap;
    height: 38px;
    display: flex;
}

.static-list {
    /* float: left; */
    margin: 0;
    padding: 0 0 1px;
    text-transform: capitalize;
    display: inline-block;
    float: none;
    overflow: hidden;
    white-space: nowrap;
}

.list-item {
    list-style: none;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}

.link {
    display: block;
    font-size: 1em;
    position: relative;
    margin: 0 7px;
    height: 37px;
    line-height: 37px;
    font-weight: 600;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.link-active {
    color: #111;
    border-bottom: solid 1px #111;
}

.content {
    position: relative;
    padding: 0 7px;
    max-width: 1270px;
    margin-left: 0;
    margin-right: auto;
}

.link-wrap {
    padding-top: 10px;
    position: relative;
    padding-left: 150px;
}

.results-main {
    float: left;
    width: 100%;
    max-width: 590px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.results--sidebar {
    display: block;
    overflow: hidden;
    padding: 0 2px;
    margin: 42px 10px 0 640px;
    text-align: left;
    min-width: 253px;
    max-width: 465px;
}

.module,
.is-mobile .module--images {
    position: relative;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
    font-weight: 400;
    margin: 0 -1px 26px;
    border-radius: 4px;
}

.sidebar-modules .module,
.sidebar-modules .is-mobile .module--images,
.is-mobile .sidebar-modules .module--images {
    margin-bottom: 36px;
}

.module__content,
.module__section {
    padding: 20px 22px;
}

.module--about .module__content {
    max-height: 325px;
    overflow: hidden;
}

.module--about.is-expanded .module__content,
.module--about.has-content-height .module__content {
    max-height: none;
    overflow: visible;
}

.module__body {
    vertical-align: top;
}

.module__image {
    float: right;
    clear: right;
}

img {
    max-width: 100%;
}

a img {
    border: none;
}

.module--about__img {
    max-width: 120px;
    max-height: 160px;
    border-radius: 4px;
    padding: 0 !important;
    margin: 0 0 25px 25px;
}

.module__title {
    font-size: 1.67em;
    font-weight: 600;
    line-height: 1em;
    display: block;
    word-wrap: break-word;
    padding: 0;
}

.module__title__link,
.module__title__link:hover,
.module__title__link:active,
.module__title__link:visited {
    color: #222;
}

.module__official-url {
    display: block;
}

.module__official-url,
.module__more-at,
.module__more-at-bottom,
.module__official-url:hover,
.module__more-at:hover,
.module__more-at-bottom:hover {
    color: #00278e;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 270px;
    white-space: nowrap;
}

.module__text {
    line-height: 1.45em;
    color: #222;
    padding-top: 10px;
    word-wrap: break-word;
}

.tx--bold {
    font-weight: 600;
}

.module__more-at {
    padding-left: 5px;
    display: inline;
}

.module__official-url,
.module__more-at,
.module__more-at-bottom,
.module__official-url:hover,
.module__more-at:hover,
.module__more-at-bottom:hover {
    color: #00278e;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 270px;
    white-space: nowrap;
}

.is-closed,
.is-hidden {
    display: none !important;
}

a img {
    border: none;
}

.zci__more-at__icon {
    vertical-align: middle;
    padding-right: .5em;
    margin-top: -3px;
    max-width: 16px;
}

.about-info-box {
    color: #222;
    border-spacing: 0 10px;
    clear: both;
}

.about-info-box__info-row,
.about-info-box__link-row {
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    line-height: 1.45;
    padding: 5px 0;
}

.about-info-box__info-row:first-child,
.about-info-box__link-row:first-child {
    border-top-color: transparent;
    padding-top: 10px;
}

.about-info-box__info-label {
    padding-right: 0.5em;
    color: #222;
    font-weight: 600;
    display: block;
    margin-top: 1px;
    margin-bottom: -1px;
    float: left;
}

.about-info-box__info-value {
    overflow: visible;
    color: #222;
    display: block;
    margin-top: 1px;
    margin-bottom: -1px;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    /* padding-top: .5em; */
    padding-bottom: .5em;
}

.about-profiles {
    height: 66px;
    overflow: hidden;
    padding-bottom: 0;
    margin-right: -22px;
}

.about-profiles__item {
    display: inline-block;
    padding: 10px 18px 0 0;
    max-width: 58px;
    text-align: center;
    vertical-align: top;
}

.about-profiles__link {
    display: block;
    font-size: 0.84em;
    line-height: 1;
}

.module__link:visited,
.module__link:visited:hover,
.module__link:visited:focus,
.module__link:visited:active,
.module__link a:visited,
.module__link a:visited:hover,
.module__link a:visited:focus,
.module__link a:visited:active {
    color: #6c00a2;
}

.about-profiles__link,
.about-profiles__link:hover,
.about-profiles__link:visited,
.about-profiles__link:active {
    color: #666;
}

img {
    max-width: 100%;
}

a img {
    border: none;
}

.about-profiles__img {
    display: block;
    position: relative;
    margin: 0 auto 5px;
    width: 28px;
    height: 28px;
}

.module__toggle {
    font-family: "ddg-serp-icons";
    font-size: 20px;
    line-height: 32px;
    display: none;
    margin: 0 auto;
    height: 32px;
    cursor: pointer;
    color: #666;
    background-color: rgba(0, 0, 0, 0.02);
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    clear: both;
    border-radius: 0 0 3px 3px;
}

.module__toggle--more {
    position: relative;
}

.module__toggle__chevron {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 1px;
}

p {
    line-height: 1.35;
    padding-top: .25em;
    padding-bottom: .25em;
}

.feedback-prompt {
    font-size: 12px;
    text-align: right;
    padding: 8px 17px 0 0;
    line-height: 1;
    color: #aaa;
}

.module .feedback-prompt,
.is-mobile .module--images .feedback-prompt {
    position: absolute;
    right: 0;
    bottom: -22px;
}

.feedback-prompt__link {
    padding: 0 5px;
    color: #aaa;
    text-decoration: underline;
}

.module,
.is-mobile .module--images {
    position: relative;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
    font-weight: 400;
    margin: 0 -1px 26px;
    border-radius: 4px;
}

.module--carousel {
    box-shadow: none;
    border: none;
    height: 292px;
    overflow: initial;
}

.frm__input__clear,
.ddgsi,
.ddgsi-b:before,
.ddgsi-a:after {
    font-family: 'ddg-serp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.is-closed,
.is-hidden {
    display: none !important;
}

.module--carousel__left,
.module--carousel__right {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    text-align: center;
    line-height: 34px;
    margin-top: -18px;
    background-color: white;
    color: #222;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
}

.module--carousel__left {
    left: -19px;
    padding-right: 1px;
}

.module--carousel__right {
    right: -16px;
    padding-left: 1px;
}

.module__header {
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 4px 4px 0 0;
}

.module__header.module__header--link {
    font-size: 17px;
    color: #333;
    margin-bottom: 5px;
    display: block;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.module--carousel .module__header,
.module--carousel .module__footer {
    margin-left: 11px;
}

.module--carousel__items {
    white-space: nowrap;
    overflow-x: hidden;
    height: 238px;
    overflow-y: hidden;
    position: relative;
}

.module--carousel__item {
    display: inline-block;
    vertical-align: top;
    width: 32.2%;
    height: 230px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    white-space: normal;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
}

.module--carousel__item:not(:last-child) {
    margin-right: 1.2%;
}

.module--carousel__image-wrapper {
    height: 48%;
    position: relative;
    background-color: #f7f7f7;
}

.module--carousel__image {
    height: 110px;
}

.frm__input__clear,
.ddgsi,
.ddgsi-b:before,
.ddgsi-a:after {
    font-family: 'ddg-serp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.result__image__plc,
.tile--audio .tile__media__no-artwork,
.module--carousel__placeholder {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #fff;
    font-size: 3em;
    height: 1em;
    width: 1em;
    padding: .5em;
    line-height: 1;
}

.module--carousel__placeholder {
    font-size: 2.5em;
}

.module--carousel__body {
    padding: 0.75em;
    box-sizing: border-box;
}

.module--carousel__body__title {
    display: block;
    color: #00278e;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    max-height: 5em;
    overflow: hidden;
    margin-bottom: 0.25em;
}

.has-image .module--carousel__body__title {
    max-height: 5em;
    margin-bottom: none;
}

.module--carousel__footer {
    position: absolute;
    bottom: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    padding: 0 0.75em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.module--carousel__more-at {
    overflow: hidden;
    text-overflow: ellipsis;
}

.module--carousel__footer.has-relative-time .module--carousel__more-at {
    max-width: 75%;
    float: left;
}

.module--carousel__body__content {
    font-size: 1em;
    line-height: 1.5;
    max-height: 7.5em;
    overflow: hidden;
}

.zci__more-at__icon {
    vertical-align: middle;
    padding-right: .5em;
    margin-top: -3px;
    max-width: 16px;
}

.result__url,
.result__url:active,
.result__url:visited:focus {
    color: #20692b;
}

.sep--before:before,
.sep--after:after,
.sep--small,
.sep,
.zcm__sep {
    border-left: 1px solid #d0d0d0;
    margin: 0 1em;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 0.15em;
    float: none;
    height: 1em;
    width: 0;
}

.tile__sep {
    margin: 0 .5em;
    top: 0.05em;
    height: 0.8em;
}


/* ----------------------------------- */


/* -------------------------------------- */

.search-filters-wrap {
    position: relative;
    height: 42px;
    overflow-y: hidden;
}

.search-filters {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    padding-left: .75em;
    -webkit-overflow-scrolling: touch
}

.search-filters {
    padding-left: 16px;
}

.toggle-drop {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin-bottom: .5em;
    margin-right: 20px;
}

.toggle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    height: 16px;
    width: 26px;
    background: #aaa;
    cursor: pointer;
    position: relative;
    float: left;
    width: 32px;
    margin-top: 9px;
    margin-right: 8px;
}

.knob {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .1s, linear, left .3s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: .1s, linear, left .3s ease-in-out 0s;
    -o-transition: .1s, linear, left .3s ease-in-out 0s;
    transition: .1s linear left .3s ease-in-out 0s;
    position: absolute;
    display: block;
    left: 2px;
    top: 2px;
    height: 12px;
    width: 12px;
    background-color: #fff;
}

.dropdown--region.has-inactive-region .dropdown__button {
    font-weight: 400;
    color: #666;
}

.dropdown.is-active .dropdown__button {
    font-weight: 600;
    color: #222;
}

.dropdown__button {
    color: #666;
    height: 100%;
    line-height: 36px;
    padding-right: 25px;
    display: inline-block;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: #4495d4;
}

.d-3 {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin-bottom: .5em;
    margin-right: 20px;
}

.content-module {
    margin: 0 0 7px 0;
    width: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
    font-weight: 400;
    margin: 0 -1px 26px;
    border-radius: 4px;
}

.module-inner {
    max-height: none;
    overflow: visible;
    max-height: 195px;
    max-height: 325px;
    overflow: hidden;
    padding: 14px 16px;
    padding: 20px 22px;
}

.module-item {
    vertical-align: top;
}

.module-title {
    font-size: 1.5em;
    font-size: 1.67em;
    font-weight: 600;
    line-height: 1em;
    display: block;
    word-wrap: break-word;
    padding: 0;
}

.module__title__link,
.module__title__link:hover,
.module__title__link:active,
.module__title__link:visited {
    color: #222;
    font-size: 21.6px;
}

.module-text {
    line-height: 1.45em;
    color: #222;
    padding-top: 10px;
    word-wrap: break-word;
    font-size: 14.4px;
}

.module__official-url,
.module__more-at,
.module__more-at-bottom,
.module__official-url:hover,
.module__more-at:hover,
.module__more-at-bottom:hover {
    color: #00278e;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 270px;
    white-space: nowrap;
}

.module__more-at {
    padding-left: 5px;
    display: inline;
}

.tx--bold {
    font-weight: 600;
}

.module__more-at:visited {
    color: #6d59a3;
}

.module__toggle {
    font-family: "ddg-serp-icons";
    font-size: 20px;
    line-height: 32px;
    display: none;
    margin: 0 auto;
    height: 32px;
    cursor: pointer;
    color: #666;
    background-color: rgba(0, 0, 0, 0.02);
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    clear: both;
    border-radius: 0 0 3px 3px;
}

.module__toggle--more {
    position: relative;
}

.module__toggle__chevron {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: 1px;
}

.results {
    margin-bottom: 2em;
    margin-top: .5em;
    position: relative;
    padding-bottom: 5em;
}

.has-footer .results {
    padding-bottom: 20px;
}

.is-mobile .results {
    margin-top: 0;
}

.is-mobile.has-footer .results {
    padding-bottom: 0;
    margin-bottom: 0;
}

.result {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 1.2em;
    position: relative;
    word-wrap: break-word;
    border-radius: 4px;
    border: 1px solid transparent;
}

.is-mobile .results_links_deep,
.is-mobile .results_links {
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom-color: rgba(125, 125, 125, 0.3);
    margin: 0 0 7px 0;
}

.result__body {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: .5em;
    padding-bottom: .5em;
}

.is-mobile .result__body {
    padding: 14px 16px;
}

.result__title {
    position: static;
    overflow: hidden;
    display: block;
    font-size: 1.31em;
    vertical-align: middle;
    line-height: 1.15;
    padding: 0;
    margin: 0;
    margin-bottom: 0.15em;
    max-width: 100%;
}

.result--url-above-snippet .result__title {
    margin-bottom: 0;
}

.result__a {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    color: #00278e;
    font-size: 18.864px;
}

.result__a:visited,
.result__a:visited:hover {
    color: #6c00a2;
}

.result__check {
    cursor: default;
    color: #fff;
    position: absolute;
    right: 100%;
    top: 0.7em;
    margin-right: 1em;
    font-size: 0.8em;
    width: 1em;
    white-space: nowrap;
    speak: none;
    display: none;
}

.result__check,
.result__check:before,
.result__check:after {
    -webkit-transition: all .3s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.result__check:visited {
    color: #c3c3c3;
}

.result__check__tt {
    -webkit-transition: opacity .3s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: opacity .3s ease-in-out 0s;
    -o-transition: opacity .3s ease-in-out 0s;
    transition: opacity .3s ease-in-out 0s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    background-color: #a3a3a3;
    background-color: rgba(138, 138, 138, 0.9);
    text-indent: 0px;
    padding: 0 1em;
    white-space: nowrap;
    line-height: 1.6;
    height: 1.6em;
    font-weight: 400;
    font-style: normal;
    color: white;
    z-index: 200;
}

.result__check__tt {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    border-radius: 1em;
    font-size: 0.76em;
    line-height: 2;
    height: 2em;
    bottom: 2.5em;
    left: -0.95em;
}

.result__extras {
    display: flex;
    position: relative;
}

.result--url-above-snippet .result__extras {
    min-height: 1.57em;
    margin: 1px 0 2px;
    top: 0;
}

.result__extras__url {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #666;
}

.highlight .result__extras__url,
.full-urls .result__extras__url,
.result--ad .result__extras__url {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.result__icon {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 16px;
    margin-right: .5em;
}

img {
    max-width: 100%;
}

a img {
    border: none;
}

.result__icon .result__icon__img,
.result__icon .result__icon img {
    vertical-align: middle;
    max-width: 16px;
    margin-top: 0;
}

.result__url,
.result__url:active,
.result__url:visited:focus {
    color: #20692b;
}

.result__url__domain {
    display: inline;
}

.full-urls .result__url__full {
    opacity: 1;
    visibility: visible;
}

.result__url__full {
    opacity: 0;
    visibility: hidden;
}

.result__snippet {
    color: #494949;
    line-height: 1.45;
    margin: 0 0 0.2em;
}

.result--url-above-snippet .result__snippet {
    margin: 0;
}

strong,
b {
    font-weight: 600;
}

.result__snippet b,
.result__snippet strong {
    color: #494949;
}

.result {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 1.2em;
    position: relative;
    word-wrap: break-word;
    border-radius: 4px;
    border: 1px solid transparent;
}

.result--more {
    cursor: default;
    position: relative;
    margin-bottom: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 10px;
    width: 582px;
    z-index: 100;
}

.result--more__btn {
    line-height: 2.8;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: capitalize;
}

.metabar__in,
.welcome,
.zcm-wrap,
.zci__main,
.zci__detail,
.serp__results,
.footer,
.footer--mobile {
    padding-left: 150px;
}

.footer--mobile {
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #d9d9d9;
    padding: 20px 0;
    text-align: center;
    display: none;
}

p {
    line-height: 1.35;
    padding-top: .25em;
    padding-bottom: .25em;
}

.footer__text {
    color: #888;
    font-size: 13px;
}

.footer__links {
    margin-top: 11.75px;
}

.footer--mobile .footer__links {
    margin-right: -10px;
    margin-bottom: 3px;
}

img {
    max-width: 100%;
}

a img {
    border: none;
}

.footer__social-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 8px;
}

.button,
.butt,
.btn,
.btn,
.button,
.btn--icon,
.btn--top,
.header__button,
.header__button--menu {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    position: relative;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 1em;
    line-height: 2.5;
    border: 1px solid #babec9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    background-color: #f8f8f8;
    color: #474747;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.btn,
.button,
.btn--icon,
.btn--top,
.header__button,
.header__button--menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: none .3s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: none .3s ease-in-out 0s;
    -o-transition: none .3s ease-in-out 0s;
    transition: none .3s ease-in-out 0s;
    outline: none !important;
    background-color: #fafafa;
    border-color: #ddd;
    line-height: 2;
    font-weight: normal;
    font-size: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #333;
}

.feedback-btn {
    -webkit-transition: height .2s ease-in-out;
    -webkit-transition-delay: .05s;
    -moz-transition: height .2s ease-in-out .05s;
    -o-transition: height .2s ease-in-out .05s;
    transition: height .2s ease-in-out .05s;
    border: none;
    padding: 0;
    height: 28px;
    min-width: 120px;
    text-align: center;
    margin: .5em;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.footer--mobile .feedback-btn {
    box-shadow: none;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}


/* --------------------- */


/* ------------------------ */


/* The switch - the box around the slider */

@media only screen and (max-width: 1350px) {
    .nav-search-wrap {
        padding-left: 94px;
        padding-right: 94px;
    }
    .nav-logo {
        width: 94px;
    }
    .link-wrap {
        padding-left: 94px;
    }
    .option-bar {
        padding-left: 94px;
    }
    .metabar__in,
    .welcome,
    .zcm-wrap,
    .zci__main,
    .zci__detail,
    .serp__results,
    .footer,
    .footer--mobile {
        padding-left: 94px;
    }
}

@media only screen and (max-width: 1079px) {
    .nav-logo {
        width: 58px;
        left: 0;
    }
    .nav-search-wrap {
        padding-left: 58px;
        padding-right: 58px;
    }
    .link-wrap {
        padding-left: 58px;
    }
    .option-bar {
        padding-left: 58px;
    }
    .metabar__in,
    .welcome,
    .zcm-wrap,
    .zci__main,
    .zci__detail,
    .serp__results,
    .footer,
    .footer--mobile {
        padding-left: 58px;
    }
}

@media screen and (max-width: 980px) {
    .results-main {
        float: none;
    }
}

@media only screen and (max-width: 864px) {
    .nav {
        margin-bottom: 0;
        width: 98%;
    }
}

@media only screen and (max-width: 590px) {
    .nav-wrap {
        padding-top: 9px;
    }
    .nav {
        float: none;
        width: auto;
    }
    .nav-logo {
        width: 58px;
        left: 0;
    }
    .nav-search {
        left: 0;
    }
    .link-wrap {
        padding-left: 0 !important;
    }
    .result,
    .result__check,
    .result__check:before {
        -webkit-transition: none .3s ease-in-out;
        -webkit-transition-delay: 0s;
        -moz-transition: none .3s ease-in-out 0s;
        -o-transition: none .3s ease-in-out 0s;
        transition: none .3s ease-in-out 0s;
    }
    .result__title {
        margin-bottom: .25em;
    }
    .result__check {
        display: none;
    }
    .result,
    .result__check,
    .result__check:before {
        -webkit-transition: none .3s ease-in-out;
        -webkit-transition-delay: 0s;
        -moz-transition: none .3s ease-in-out 0s;
        -o-transition: none .3s ease-in-out 0s;
        transition: none .3s ease-in-out 0s;
    }
    .option-bar {
        padding-left: 3px;
    }
}

@media only screen and (max-width: 500px) {
    .f1st-hide {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .nav-logo {
        width: 58px;
        left: 0;
    }
}

@media only screen and (max-width: 415px) {
    .s2nd-hide {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .t3rd-hide {
        display: none;
    }
}

@media only screen and (max-width: 295px) {
    .f4th-hide {
        display: none;
    }
}

----------------------------------